*.mp4
*.jpg
*.part
*.aac
__pycache__
.vscode/
Output/
AppData/
Fairy-Kekkai-Workshop/build/
Fairy-Kekkai-Workshop/dist/
Fairy-Kekkai-Workshop/tools/
build/
CLI/
_internal/
test/
.__jianying_export_temp_folder__
Fairy-Kekkai-Workshop.exe
LICENSE.txt
nuitka-crash-report.xml